<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641823042965-ln0qvca80374i1ipp7c19pjrsocro69s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641823042965-ln0qvca80374i1ipp7c19pjrsocro69s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641823042965-n41vfrr3tkgs8o8u0vi08uhgf0nq2aps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhx7GXn6Sby6gVvMB35m9gVrC0IVoJmC8</string>
	<key>GCM_SENDER_ID</key>
	<string>641823042965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxyworldwide.shipping</string>
	<key>PROJECT_ID</key>
	<string>galaxywoldwide</string>
	<key>STORAGE_BUCKET</key>
	<string>galaxywoldwide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641823042965:ios:b335e2048dbb89cf4d1a9c</string>
	<key>DATABASE_URL</key>
	<string>https://galaxywoldwide.firebaseio.com</string>
</dict>
</plist>